body{
    font-family: Roboto, sans serif;
    padding: 0;
    margin: 0;
    width: 100%;
}
#menu{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: white;
    z-index: 2;
}
#menu h2{
    margin-left: 50px;
    width: 33%;
}
#menu ul{
    margin-left: 10%;
}
#menu ul li {
    display: inline;
    padding-left: 15px;
}
#menu ul a{
    text-decoration: none;
    color: grey;
}
#menu ul li a:hover {
    border-top: 2px solid #69f542;
    padding-top: 29px;
}
#logoHopeMenu{
    height: 85px;
    border-radius: 50%;
    margin-left: 92%;
}

#slider{
    width: 100%;
    text-align: center;
}
#imageChild{
    position: relative;
    height: 515px;
    margin: 0 9%;
}
#texteSlider{
position: absolute;
top: 50%;
left: 30%;
}
#texteSlider strong{
    color: #f1f1f1;
    font-size: 2em;
}


#logoHope{
    border-radius: 50%;
    height: 210px;
    margin-left: 12%;
}
#association{
    padding-top: 60px;
    display: flex;
    height: 280px;
}
.texte{
    width: 50%;
    margin-left: 5%;
}

@media screen and (max-width: 1000px)
{
    #slider{
        display: none;
    }
    .texte{
        width:60%;
    }
    #menu ul{
        margin: 0;
    }
    #logoHopeMenu{
        margin-left: 0;
    }
    #association{
        padding-top: 27%;
        flex-direction: column;
        align-items: center;
    }
    #logoHope{
        width: 210px;
        margin-left: inherit;
    }
    #menu{
        flex-direction: column;
        height: 13%;
    }
    #menu a{
        font-size: 1.7em;
    }
    p{
        font-size: 1.4em;
    }
    #menu h2{
        display: none;
    }
}
